{* This is the user admin page *}

{block content}


<div class="row content-row">

<h1>{$title}</h1>

{foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class="grid-x">
	<div class="callout">
		<h2>{$id} {$username}</h2>
		<p>Lots of user admin stuff can go here</p>
	</div>
</div> <!-- end grid-x -->

</div><!-- end row -->

{/block}

