{*layout "../../../layouts/@default.latte"*}
{block content}

<h1>Hic Sunt Dracones</h1>
<p>
This text is in the default error template, located in app/ErrorModule/templates/Default/default.latte.
</p>
<p>
Any unknown urls will default to this page.
</p>

{/block}
