{block content}

        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

            <div class="row margin-1">
                <div class="columns">
                    <a class="dashboard-nav-card" href="#">
                        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
                        <p class="dashboard-nav-card-value">2499</p>
                        <h3 class="dashboard-nav-card-title">Visitors</h3>
                    </a>
                </div>
                <div class="columns">
                    <a class="dashboard-nav-card" href="#">
                        <i class="dashboard-nav-card-icon fa fa-shopping-bag" aria-hidden="true"></i>
                        <p class="dashboard-nav-card-value">390</p>
                        <h3 class="dashboard-nav-card-title">Sales</h3>
                    </a>
                </div>
                <div class="columns">
                    <a class="dashboard-nav-card" href="#">
                        <i class="dashboard-nav-card-icon fa fa-cart-plus" aria-hidden="true"></i>
                        <p class="dashboard-nav-card-value">150</p>
                        <h3 class="dashboard-nav-card-title">Orders</h3>
                    </a>
                </div>
                <div class="columns">
                    <a class="dashboard-nav-card" href="#">
                        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
                        <p class="dashboard-nav-card-value">{$num_users}</p>
                        <h3 class="dashboard-nav-card-title">Users</h3>
                    </a>
                </div>
            </div>

            <div class="row margin-1">
                <div class="columns large-8">
                    <div class="product-feature-section">
                        <div class="product-feature-section-outer">
                            <div class="product-feature-section-inner">

                                <div class="product-feature-section-feature top-left">
                                    <i class="fa fa-shield" aria-hidden="true"></i>
                                    <div>
                                        <p class="feature-title">Thick Fur Coat</p>
                                        <p class="feature-desc">Can withstand extreme cold</p>
                                    </div>
                                </div>

                                <div class="product-feature-section-feature top-right">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <div>
                                        <p class="feature-title">Super Loveable</p>
                                        <p class="feature-desc">Great at code and hugs</p>
                                    </div>
                                </div>

                                <div class="product-feature-section-feature bottom-left">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                    <div>
                                        <p class="feature-title">Cave Expert</p>
                                        <p class="feature-desc">Makes any hole a home</p>
                                    </div>
                                </div>

                                <div class="product-feature-section-feature bottom-right">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <div>
                                        <p class="feature-title">Abominable Snowman</p>
                                        <p class="feature-desc">Hails from the Himalayans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns large-4">
                    <div class="columns">
                        <div class="dashboard-number-card positive">
                            <h5 class="dashboard-number-value">$20,000</h5>
                            <div>
                                <p class="dashboard-number-area">Category</p>
                                <p class="dashboard-number-delta">
                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                    $3000(10%)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="dashboard-number-card primary">
                            <h5 class="dashboard-number-value">$10,000</h5>
                            <div>
                                <p class="dashboard-number-area">Category</p>
                                <p class="dashboard-number-delta">
                                    $3000(10%)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="dashboard-number-card negative">
                            <h5 class="dashboard-number-value">$10,000</h5>
                            <div>
                                <p class="dashboard-number-area">Category</p>
                                <p class="dashboard-number-delta">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    $3000(10%)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}
