{* This is the bhajan page *}

<!-- registration form -->
{block content}


<div class="row content-row">

<h1>{$title}</h1>

{foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class="grid-x">
        <div class="large-6 cell" style="border-right:solid 2px purple;">
        	<div class="callout">
			<h2>Register</h2>
			{control registerForm}
		</div>
        </div>

        <div class="large-6 cell" style="">
		<div class="callout">
			<h2>Login</h2>
			{control loginForm}
		</div>
        </div>
</div> <!-- end grid-x -->

</div><!-- end row -->

{/block}

