{* This is the show bhajan page *}


{block content}

<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Accordion 1</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <p>{$post->title}</p>
	<p>
	{$post->content}
	</p>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Accordion 1</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <p>Translation</p>
	{$post->translation}
    </div>
  </li>
 
  <!-- ... -->
</ul>


{* <h1 class="lyrics-title">{$post->title}</h1> *}

<h1 class="lyrics">{php echo nl2br($post->content)}</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{/block}
