{*layout "../../../layouts/@default.latte"*}
{block content}

<h1>Contact</h1>
<p>
This text is in the default contact template, located in app/ContactModule/templates/Default/default.latte.
</p>

{/block}
