{*layout "../../../layouts/@default.latte"*}
{block content}

<div id="examples">
	<h3>Something like this?</h3>
	<div id="nested-example" class="example">
		<div class="nestable w-1-1 nested-item orange accent-1 z-depth-3">
			<div class="nested-item red z-deh1th-1"><h1>Header</h1></div>
		</div>

		<div class="nestable w-1-1">

			<div class="nestable w-1-3 nested-item red accent-1 z-depth-3">
				<div class="nested-item red z-depth-1"><p>Red 1</p></div>
				<div class="nested-item red z-depth-1"><p>Red 2</p></div>
				<div class="nested-item red z-depth-1"><p>Red 3</p></div>
				<div class="nested-item green z-depth-1"><p>Green 1</p></div>
			</div>

			<div class="nestable w-1-3 nested-item green accent-1 z-depth-3">
				<div class="nested-item blue z-depth-1"><p>Blue 1</p></div>
			</div>

			<div class="nestable w-1-3 nested-item blue accent-1 z-depth-3">
				<div class="nested-item blue z-depth-1"><p>Blue 2</p></div>
				<div class="nested-item green z-depth-1"><p>Green 2</p></div>
				<div class="nested-item blue z-depth-1"><p>Blue 3</p></div>
			</div>
		</div>

		<div class="nestable w-1-1 nested-item orange accent-1 z-depth-3">
			<div class="nested-item red z-deh3th-1"><h3>Footer</h3></div>
		</div>

{foreach $rows as $id=>$name}
		<div class="nestable w-1-1 nested-item orange accent-1 z-depth-3">
			<div class="nested-item red z-deh3th-1"><h3>Footer</h3></div>
		</div>
{/foreach}

	</div>

</div> <!-- end nested example -->
{/block}
