<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrP Admin</title>
    <link rel="stylesheet" href="/assets/admin/styles/foundation.css">
    <link rel="stylesheet" href="/assets/admin/styles/font-awesome.css">
    <link rel="stylesheet" href="/assets/admin/styles/app.css">
    <link rel="stylesheet" href="/assets/admin/styles/dataTables.foundation.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.structure.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.theme.css">

</head>
<body>

<div class="app-dashboard shrink-medium">
    <div class="row expanded app-dashboard-top-nav-bar">
        <div class="columns medium-2">
            <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
            <a class="app-dashboard-logo">DrP</a>
        </div>
        <div class="columns show-for-medium">
            <div class="app-dashboard-search-bar-container">
                <input class="app-dashboard-search" type="search" placeholder="Search">
                <i class="app-dashboard-search-icon fa fa-search"></i>
            </div>
        </div>
        <div class="columns shrink app-dashboard-top-bar-actions">
<form><button type="submit" formaction="/user/default/logout" class="button hollow">Logout</button></form>
            <a href="/admin/faq" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>
        </div>
    </div>

    <div class="app-dashboard-body off-canvas-wrapper">
        <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
            <div class="app-dashboard-sidebar-title-area">
                <div class="app-dashboard-close-sidebar">
                    <h3 class="app-dashboard-sidebar-block-title">DrP</h3>
                    <!-- Close button -->
                    <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
                        <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
                    </button>
                </div>
                <div class="app-dashboard-open-sidebar">
                    <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
                        <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
                    </button>
                </div>
            </div>
            <div class="app-dashboard-sidebar-inner">

<ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
  <li><a href="/admin"><i class="large fa fa-tachometer"></i><span class="app-dashboard-sidebar-text">Dashboard</span></a></li>
  <li>
    <a href="/recipes/admin"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Recipes</span></a>
   <ul class="menu vertical nested">
  <li><a href="/recipes/admin/category"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Categories</span></a></li>
  <li><a href="/recipes/admin/contains"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Contains</span></a></li>
  <li><a href="/recipes/admin/cuisine"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Cuisine</span></a></li>
  <li><a href="/recipes/admin/ingredients"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Ingredients</span></a></li>
  <li><a href="/recipes/admin/suitablefor"><i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Suitable For</span></a></li>
      <li>
        <a href="#">Item 1A</a>
        <ul class="menu vertical nested">
          <li><a href="#">Item 1Ai</a></li>
          <li><a href="#">Item 1Aii</a></li>
          <li><a href="#">Item 1Aiii</a></li>
        </ul>
      </li>
      <li><a href="#">Item 1B</a></li>
      <li><a href="#">Item 1C</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 2</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
    </ul>
  </li>
  <li><a href="#">Item 3</a></li>
</ul>


<!--

                <ul class="menu vertical">
                    <li><a href="/admin" class="is-active">
                        <i class="large fa fa-tachometer"></i><span class="app-dashboard-sidebar-text">Dashboard</span>
                    </a></li>
                    <li><a href="/user/admin">
                        <i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Users</span>
                    </a></li>
                    <li><a href="/recipes/admin">
                        <i class="large fa fa-list-alt"></i><span class="app-dashboard-sidebar-text">Recipes</span>
			<ul>
				<li><a href="/recipes/admin/categories">Categories</a></li>
			</ul>
                    </a></li>

                    <li><a>
                        <i class="large fa fa-table"></i><span class="app-dashboard-sidebar-text">Tables</span>
                    </a></li>
                    <li><a href="page.html">
                        <i class="large fa fa-file-text-o"></i><span class="app-dashboard-sidebar-text">Page</span>
                    </a></li>
                    <li><a>
                        <i class="large fa fa-magic"></i><span class="app-dashboard-sidebar-text">UI</span>
                    </a></li>
                </ul>
-->
            </div>
        </div>


{include content}


<script src="/assets/admin/scripts/vendor/jquery.js"></script>
<script src="/assets/admin/scripts/vendor/what-input.js"></script>
<script src="/assets/admin/scripts/vendor/foundation.js"></script>
<script src="/assets/admin/scripts/jquery.dataTables.min.js"></script>
<script src="/assets/admin/scripts/dataTables.foundation.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/admin/scripts/app.js"></script>

<script type="text/javascript">
    $(document).foundation();

    $(function() {
        $('.search')
            .bind('click', function(event) {
                $(".search-field").toggleClass("expand-search");
                $(".search-field").focus();
            })
    });

$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
</body>
</html>
