<!doctype html>
<html lang="en">

{include head.latte}

<body>

{include navbar.latte}

<h1>This text is in the layout template</h1>

{include content}

{include footer.latte}

<script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/highlight.min.js"></script>
<script type="text/javascript" src="/assets/js/lmdd.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>

<script type="text/javascript" src="/assets/js/foundation.js"></script>

</body>


</html>
