<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
		<li class="menu-text">My Company</li>
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/shop">Shop</a></li>
		<li><a href="/recipes">Recipes</a></li>
		</ul>
	</div>

	<div class="top-bar-right">
		<ul class="menu">
		<li><a href="/admin">Admin</a></li>
		<li><a href="/error">Error Page</a></li>
		<li><a href="/contact">Contact</a></li>
		{if $user->loggedIn}
			<li><a href="/user/default/logout">Log out</a><li>
		{else}
			<li><a href="/user">Login</a><li>
		{/if}
		</ul>
	</div>
</div>
