{* This is the bhajan page *}

<!-- registration form -->
{block content}


<div class="row content-row">

<h1>{$title}</h1>

{foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}


</div><!-- end row -->

{/block}

