{* This is the add recipe page *}


{block content}

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

<h2>{$title}</h2>

{foreach $flashes as $flash}
	<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class="row margin-1">
<div class="large-12 columns">

<form n:name=addRecipeForm class=form>

  <div class="row">
    <div class="large-12 columns">
      <label n:name=title>Title</label>
      <input n:name=title size=20>
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="large-12 columns">
      <label n:name=description>Description</label>
      <input n:name=description size=20>
    </div>
  </div> <!-- end row -->


<div class="row">
<h4>Prep Time</h4>
</div>

  <div class="row">
    <div class="large-4 columns">
      <label n:name=prep_time_hours>Hours</label>
        <select n:name=prep_time_hours></select>
    </div>

    <div class="large-4 columns">
      <label n:name=prep_time_minutes>Minutes</label>
        <select n:name=prep_time_minutes></select>
    </div>

    <div class="large-4 columns">
    </div>
  </div> <!-- end row -->

<div class="row">
<h4>Cook Time</h4>
</div>

  <div class="row">
    <div class="large-4 columns">
      <label n:name=cook_time_hours>Hours</label>
        <select n:name=cook_time_hours></select>
    </div>

    <div class="large-4 columns">
      <label n:name=cook_time_minutes>Minutes</label>
        <select n:name=cook_time_minutes></select>
    </div>

    <div class="large-4 columns">
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="large-4 columns">
      <label n:name=recipe_category_id>Category</label>
        <select n:name=recipe_category_id></select>
    </div>

    <div class="large-4 columns">
      <label n:name=recipe_cuisine_id>Cuisine</label>
        <select n:name=recipe_cuisine_id></select>
    </div>


    <div class="large-4 columns">
    </div>
  </div> <!-- end row -->


  <div class="row">

    <div class="large-4 columns">
      <label n:name=recipe_contains>Recipe Contains</label>
        <select n:name=recipe_contains></select>
    </div>

    <div class="large-4 columns">
      <label n:name=recipe_suitable_for>Suitable For</label>
        <select n:name=recipe_suitable_for></select>
    </div>

    <div class="large-4 columns">
      <label n:name=recipe_suitable_for_diet>Suitable For Diet</label>
        <select n:name=recipe_suitable_for_diet></select>
    </div>

  </div><!-- end row -->


<!-- ingredient row -->

<div class="row" id="ingredientRow">
<div class="large-12 deleteRow">Delete Ingredient</div>

<div class="large-3 columns">
   <label><div>Number</div><input name="ingredients_number[]" required></label>
</div>

<div class="large-3 columns">
<label>
<div>Measure</div>
<select name="recipe_measure_id[]" required>
{foreach $measures as $id=>$name}
<option value="{$id}">{$name}</option>
{/foreach}
</select>
</label>
    </div>


<div class="large-3 columns">
    <label><div>Ingredients</div><input data-ingredient_id="" name="ingredients[]" class="hint" required>
</div>

<div class="large-3 columns">
<label>
<div>Optional</div>
<input type="checkbox" name="optional[]" value="Bike"></label>
</div>

</div> <!-- end ingredient row -->

<!-- dynamic menu items -->
<div class="container1">
</div>
<button id="addIngredientbutton" class="button add_form_field">Add Another Ingredient</button>


<div class="row" id="stepRow">
  <div class="large-12 columns">
    <label><div>Step</div><textarea name=steps[] size=20></textarea></label>
  </div>
</div> <!-- end row -->

<div id="stepContainer"></div>

<button id="addStepButton" class="button">Add Another Step</button>

<input n:name=send class="button success">
</form>

{* control addRecipeForm *}

<ul class="errors" n:if="$form->hasErrors()">
	<li n:foreach="$form->errors as $error">{$error}</li>
</ul>

</div> <!-- end large-12 -->
</div> <!-- end row -->
</div> <!-- end off-canvas-content -->

{/block}
