{* This is the user admin page *}

{block content}


<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

<h2>List of Recipe Contains</h2>
<div class="clearfix">
          <a class="button right" href="/recipes/admin/addcontains">{$title}</a>
        </div>

<div class="row margin-1">
<div class="large-12 columns">
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
{foreach $contains as $con}
<tr>
<td>{$con->id}</td><td>{$con->name}</td><td>{$con->description}</td>
<td><i class="large fa fa-edit"></i></td>
<td><a n:href="Admin:deletecontains, id => $con->id" class="confirm"><i class="large fa fa-trash-o"></i></a></td>
</tr>
{/foreach}

</div> <!-- end large-12 -->
</div> <!-- end row -->
</div> <!-- end body-content -->

{/block}
