{* This is the user admin page *}

{block content}


<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

<h2>List of Recipes</h2>
<div class="clearfix">
          <a class="button right" href="/recipes/admin/add">Add Recipe</a>
        </div>

<div class="row margin-1">
<div class="large-12 columns">
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Prep Time</th>
                <th>Cook Time</th>
                <th>Cuisine</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
{foreach $recipes as $rec}
            <tr>
                <td>{$rec->id}</td>
                <td>{$rec->title}</td>
                <td>{$rec->prep_time}</td>
                <td>{$rec->cook_time}</td>
                <td>{$rec->recipe_cuisine->name}</td>
                <td>{$rec->recipe_category->name}</td>
		<td><a n:href="Admin:edit, id=>$rec->id"><i class="large fa fa-edit"></i></a></td>
		<td><a n:href="Admin:delete, id => $rec->id" class="confirm"><i class="large fa fa-trash-o"></i></a></td>
            </tr>
{/foreach}

        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Cuisine</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
