{* This is the add recipe page *}


{block content}

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

<h2>{$title}</h2>

<div class="row margin-1">
<div class="large-12 columns">


{control addRecipeForm}

</div> <!-- end large-12 -->
</div> <!-- end row -->
</div> <!-- end off-canvas-content -->

{/block}
